html, body {
    color : white;
    background-color : #555;
}

.canvas {
    margin: 50px auto auto;
    text-align : center;
}

canvas {
    width : 700px;
    height : 700px;
    border : solid 2px #fff;
    background-color : #333;
    image-rendering: pixelated;
}
